@import "tailwindcss";

:root {
  --background: #030303;
  --foreground: #DCD7D4;
  --accent-primary: #70000E;
  --accent-secondary: #C3B79D;
  --second-bg: #2c2929;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-primary: var(--accent-primary);
  --color-accent-secondary: var(--accent-secondary);
  --color-second-bg: var(--second-bg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 3000vh;
}
